## PROJECT::GENERAL
.yardoc
coverage
doc
rdoc
log
websites
.DS_Store
.rake_tasks~

## BUNDLER
*.gem
.bundle
pkg
Gemfile.lock

## RBENV
.ruby-version
.rbenv*

## RCOV
coverage.data

tmp

## RUBINIUS
*.rbc

test.rb
